body {text-align: center;}
body {background-color: 	rgb(230,230,250);}
.container {
    position: relative;
    text-align: center;
    color: rgb(102, 153, 153);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  h1{
    /*--font-family: 'Merienda', cursive;*/
    font-family: 'Contrail One', cursive;
    font-size: 80pt;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }
  p{
    font-family: 'Sunflower', sans-serif;
    font-size: 12pt;
    }
  h3{
    font-family: 'PT Sans', sans-serif;
    font-size: 20pt;
    }

h4{
    font-family: 'PT Sans', sans-serif;
    font-size: 12pt;
    }

.music{
  text-align: left;
}

#catphotos{
  border:1px black solid;
  width:600px;
  height:400px;
  margin: auto;
  display: block;
}

.slide1 img{
  width: 600px;
  height: 400px;
}
    /* Add a black background color to the top navigation */
.topnav{
  background-color: black;
  overflow: hidden;
}

.topnav a {
  float:left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-family: 'Kanit', sans-serif;
  font-size: 17px;
}
